*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background-color: #0D2F4B;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
.logo{
    font-family: 'Bruno Ace', cursive;
    font-size: 20px;
    margin-right: 40px;
    text-decoration: none;
}
.menu a{
    border: transparent;
    text-decoration: none;
    color: white;
}
.menu a:hover:not(.logo){
    text-decoration: underline;
}

.nav-item a:hover{
    color: hsla(0, 0%, 100%, 0.536);
}
.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px;
    background-color: rgba(34, 34, 34, 0.98);
}
.menu li{
    display: inline;
    margin-right: 40px;
}
.hamburger{
    display: none;
}
.hamburger span{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #dfdfdf;
}

.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(204, 202, 202);
    padding-bottom: 8%;
    border-radius: 20px;
}

.form{
    margin-right: 36%;
    margin-top: 5%;
    margin-bottom: 4%;
}
.form label{
    display: block;
}
.form input, textarea{
    padding: 5px;
    width: 270%;
    height: 12%;
    font-size: large;
    margin-bottom: 5%;
}
#message{
    height: 50%;
}
.submit-btn{
    width: 40%;
    height: 14%;
    color: yellowgreen;
    border-radius: 10px;
    background-color: #0D2F4B;
}
.submit-btn:hover{
    background-color: #0d2f4bc1;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #262626;
}
.container img{
    width: 1.5%;
}

@media only screen and (max-width: 768px){
    .navbar{
        justify-content: space-between;
    }
    .menu li{
        display: flex;
        justify-content: center;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active span:nth-child(2){
        opacity: 0;
      }
     .hamburger.active span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
     .hamburger.active span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }

      .menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
      }
      .menu a{
        margin-left: 10%;
      }
     .menu.active{
        left: 0;
        size: small;
      }


}
@media only screen and (min-width: 961px){
    .page{
        width: 960px;
        margin: 0 auto;
        margin-top: 5%;
    }
}